
.piano {
        display: flex;
    }
.key {
        width: 60px;
        height: 200px;
        margin: 2px;
        border-radius: 5px;
        border: 1px solid #000;
        background: white;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        cursor: pointer;
        user-select: none;
        font-size: 16px;
        font-family: Arial, sans-serif;
    }

.key.black {
        height: 120px;
        width: 40px;
        background: black;
        color: white;
        position: relative;
        margin-left: -20px;
        margin-right: -20px;
        z-index: 2;
    }
.key:active {
        background: #ddd;
    }
.key.black:active {
        background: #555;
}